html,body{
  margin:0 auto;
  font-family:Arial;
}
.container{
  display:flex;
  padding: 10px;
}
.container img{
  max-height: 100%;
  max-width:100%;
  object-fit: cover;
}

.center{
  justify-content:center;
  align-items:center;
}

.container #bannerimg{
  height:60%;
  width:60%;
}
nav{
  background-color:rgb(84, 90, 27);
  max-height: 90px;
}
nav a{
  color:black;
  flex:1;
  text-decoration:none;
  text-align:center;
}
nav a:hover{
  color:white;
}

nav img{
  padding:10px;
  flex:1;
  height:55px;
}

nav img:hover{
  transform: scale(1.5);
  transition:0.2s;
}
.subbanner{
  background-color:cornflowerblue;
}
#banner{
  background-color:rgb(154, 63, 14);
  color:white;
}
#footer{
  background-color:rgb(84, 90, 27);
  color:white;
  /*position:fixed;*/
  left: 0;
  right: 0;
  bottom:0px;
}
 
.card{
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid gray;
  text-align:center;
  border-radius:2px;
}

.highlight{
  font-style:italic;
  color:blue;
}
.heading{
  font-weight:bold;
}
.button{
  text-decoration:none;
  background-color:blue;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
}
.button:hover{
  background-color:cornflowerblue;
}
.flex-1{
  flex:1;
}
.fitted{
  max-width:200px;
  min-width:200px;
}
.card img{
  height:100%;
  object-fit: cover;
}
#output{
  display:flex;
  flex-wrap:wrap;
}