html,body{
  margin:0 auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
  display:flex;
  padding: 10px;
}
.container img{
  max-height: 100%;
  max-width:100%;
  object-fit: cover;
}

.center{
  justify-content:center;
  align-items:center;
}

.container #bannerimg{
  height:70%;
  width:65%;
}
nav{
  background-color:rgb(84, 90, 27);
  max-height: 90px;
}
nav a{
  color:black;
  flex:1;
  text-decoration:none;
  text-align:center;
}
nav a:hover{
  color:white;
}

nav img{
  padding:10px;
  flex:1;
  height:55px;
}

nav img:hover{
  transform: scale(1.3);
  transition:0.2s;
}
.subbanner{
  background-color:cornflowerblue;
}
#banner{
  background-color:rgb(70, 16, 7);
  color:white;
}
#footer{
  background-color:rgb(84, 90, 27);
  color:white;
  left: 0;
  right: 0;
  bottom:0px;
}
 #rightPanel{
   flex:1;
   max-height:550px;
   max-width: 1200px;;
   overflow-y:scroll;
 }
.card{
  flex:1 ;
  margin:10px;
  padding:10px;
  border:2px ridge rgb(94, 65, 65);
  border-radius: 20px;
  text-align:center;
  border-radius:2px;
  background-color: rgba(187, 194, 99, 0.3);
}

.show{
  flex:1 ;
  margin:10px;
  padding:10px;
  border:2px solid gray;
  text-align:center;
  border-radius:2px;
  background-color: rgba(128, 134, 45, 0.3);
  height: 305px;
}

.highlight{
  font-style:italic;
  color:blue;
}
.heading{
  font-weight:bold;
}
.button{
  text-decoration:none;
  background-color:blue;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
}
.button:hover{
  background-color:cornflowerblue;
}
.flex-1{
  flex:1;
}
.fitted{
  max-width:200px;
  min-width:200px;
}
.card img{
  height:100%;
  object-fit: cover;
}
#output{
  display:flex;
  flex-wrap:wrap;
}

#panel{
  flex:1;
}

#map{
  height:500px;
}